<?xml version="1.0"?>
<model>
 <name>COLOSSEUM</name>
 <version>0.1.0</version>
 <sdf version="1.6">model.sdf</sdf>

 <author>
   <name>Per Frivik</name>
   <email>pfrivik@ethz.ch</email>
 </author>

<description>
  Original model "Colosseum" by IsiTapier (@IsiTapier), available at:
  https://www.printables.com/model/217557-coliseum

  Licensed under Creative Commons Attribution–NoDerivatives 4.0 International (CC BY-ND 4.0).
  This license allows sharing and commercial use with attribution, but does not permit
  modifications or distribution of derivative works.

  This model is included here unmodified as part of the project, in compliance with the license.
</description>

</model>
